<html>
  <body>

    
        <label for="name">Enter your name:</label>
        <input name="messageUser" type="text">
        <label for="message">Enter your message:</label>
        <input name="messageText" type="text">
        <input type="submit" value="Submit" />
     </form>

  </body>
  </html>