<html>
  <body>
    <h1>Create a New Message</h1>
    <form method="POST" action="/new">
      <label for="username">Enter your name:</label>
      <input name="username" type="text" required />
      <br />
      <label for="message">Enter your message:</label>
      <textarea name="message" required></textarea>
      <br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
