<html>
  <body>
    <a href="/new">Create a message</a>
    <ul>
      <% messages.map((message) => { %>
        <li><h1><%= message.username %></h1></li>
        <li><p><%= message.message%></p></li>
        
        <div>
          <a href="/messages/<%= message.id %>">View Post</a>
        </div>
      <% }) %>
    </ul>
  </body>
</html>
