<html>
  <body>

    <a method="GET" action="/new">click button</a>
    <ul>
      <% messages.map((message) => { %>
        <li><h1><%= message.user %></h1></li>
        <li><p><%= message.text%></p></li>
        <li><p><%= message.added%></p></li>
      <% }) %>
    </ul>
  </body>
</html>